<div style="margin: 0 auto;width:500px;margin-top:50px">
  <h4> Edit <%=@entry.name%> </h4>

  <% if @entry.class.name == 'Species' %>

    <form action="/edit_species/<%= @entry.id %>" method="post">
      <input name="_method" type="hidden" value="patch">
      <label for="species_name"> New Name </label>
      <input for="species_name" name="name" text="text">
      <button> Edit Entry </button>
   </form>
   <a href="/delete_species/<%= @entry.id %>"
   data-confirm="You sure?"
   data-method="delete"
   rel="nofollow">Delete</a>

  <% else %>
    <form action="/edit_location/<%= @entry.id %>" method="post">
      <input name="_method" type="hidden" value="patch">
      <label for="location_name"> New Name </label>
      <input for="location_name" name="name" text="text">
      <button> Edit Entry </button>
    </form>
    <a href="/delete_location/<%= @entry.id %>"
    data-confirm="You sure?"
    data-method="delete"
    rel="nofollow">Delete</a>

  <% end %>



  <a href="/list_all"><p> Return to List </p></a>
</div>
